<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
         <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>GrandPyBot</title>
    </head>

    <body>  
    <header>
        </br></brr> <div class="catchphrase"  >Bienvenue dans le monde des anciens... </div>
    </header>
    <section>
        <h1> Pybot à votre service!!! </h1>
        <form method="post" action="xxxxxx.py">
    <p>
        <label for="Your question">Votre demande à Pybot... : </label>
        <input type="text" name="question" id="question" placeholder="Posez votre question" size="400" width="50" />
    </p>
</form>
    </section>
    <footer>
        <h1> Hamdi Yann </h1>
       <a href="https://github.com/yannhamdi">Lien GitHub</a>

    </footer>
    </body>
</html>