<!DOCTYPE html>
<html>
    <head>
        <meta name= "viewport" content ="initial-scale=1.0">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        
        <title>GrandPyBot</title>
    </head>

    <body>  
            <header>
                    </br></brr> <div class="catchphrase"  >Bienvenue dans le monde des anciens... </div>
            </header>
            <div id="conteneur">
        
            <section>
                     <form id="question-form">
                     <p>
                        <label for="your question" >Votre demande à Pybot...: </label>
                        <input type="text" name="question" id="question" placeholder="Posez votre question" size="90" />
                        <input type="submit" value="Envoyer" />
                    </p>

                    </form>

            
            </section>
        
            </div>
            <footer>
                 <h1> Hamdi Yann </h1>
                 <a href="https://github.com/yannhamdi">Lien GitHub</a>

             </footer>

             <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}" ></script>
             <script src="{{url_for('static', filename='js/monscript.js')}}"></script>
     
     
    </body>
</html>