
header
{
	color: red;
	font-size: x-large;
	background-image: url(/static/img/robot.png);
	background-repeat: repeat;
	background-position: center;
	flex-grow: 0;	

	
}

body
{
    height : 100vh;	
    margin: 0, 0;
    


}

.catchphrase
{
	color: red;
	text-align: center;
	font-size: 80px;
	font-style: oblique;
}
#conteneur
{
	background-color: white;
	margin: auto;
	width: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

form
{
	font-size:30px;

}
input
{
	background-color: white ;
}
.icone
{
	display: none;
}
.waiting
{
	display:block;
	margin-left: 50px;
}
.map
{
	height :200px;
	width : 50%;
	border-radius: 10px;
}

.answer
{      
	color: black;
	font-size: 15px;
	font-style: normal;
	background-color: white;
	width: auto;
	height: auto;
 
}

main h1 
{
	color: black;
	font-size: 40px;
	font-style: italic;
}

main
{
	color: black;
	font-style: oblique;
	flex-grow: 1;
	height :auto;
	display: flex;
	margin: 0;
    padding: 0;

}

footer
{
	color: red;
    text-align: center;
	font-size :10px;
	flex-grow: 0;
	margin-top: 600px;

}	

@media screen and (min-width: 600px){
	body{
		margin: 0, 0;
		padding: 0, 0;
	}
}
