body
{
	background-image: url(/static/img/fond.jpg);
}


header
{
	color: red;
	font-size: x-large;
	background-image: url(/static/img/robot.png);
	background-repeat: repeat;
	background-position: center;
    

	
}


.catchphrase
{
	color: red;
	text-align: center;
	font-size: 80px;
	font-style: oblique;

}	

section h1
{
	color: grey;
	font-size: 80px;
	font-style: italic;
}


section
{
	color: grey;
	font-style: oblique;

}
form
{
	font-size:80px;
}

footer
{
	color: red;
	font-size :10px;
	text-align: center
}