body
{
	background-image: url(/static/img/fond.jpg);
	display: flex;
	flex-direction: column;

}


header
{
	color: red;
	font-size: x-large;
	background-image: url(/static/img/robot.png);
	background-repeat: repeat;
	background-position: center;
	height:20vh;
    

	
}


.catchphrase
{
	color: red;
	text-align: center;
	font-size: 80px;
	font-style: oblique;

}	

section h1 
{
	color: grey;
	font-size: 40px;
	font-style: italic;
}

section
{
	color: grey;
	font-style: oblique;
	height: 60vh;

}
form
{
	font-size:30px;

}
.map
{
	height :200px;
	width : 50%;
	border-radius: 10px;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
}
footer
{
	color: red;
	font-size :10px;
	text-align: center;
	height: 20vh;

}
	
footer h1 
{
	margin-top: 90px
}
input
{
	background-color: aqua ;
}
.chat
{
	color: black;
	font-size: 15px;
	font-style: normal;
	background-color: white;
	width: 60% ;
	height: 20px;
}
.answer
{      color: black;
	font-size: 15px;
	font-style: normal;
	background-color: white;
	width: 60% ;
	height: auto;
 
}
@media screen and (max-width: 1024px)
{
	header
	{
		height: auto;
		width: auto;
	}
	section
	{
		height: auto;
		width: auto;

	}
	footer
	{
		height: auto;
		width: auto
	}
}

@media all and (max-device-width: 480px)
{
	header
	{
		height: auto;
		width: auto;

	}
	section
	{
		height: auto;
		width: auto;

	}
	footer
	{
		height: auto;
		width: auto
	}
   
   }
}

