body
{
	background-image: url(/static/img/fond.jpg);
}


header
{
	color: red;
	font-size: x-large;
	background-image: url(/static/img/robot.png);
	background-repeat: no-repeat;
    

	
}


.catchphrase
{
	color: black;
	text-align: center;
	font-size: 100px;
	font-style: oblique;

}	


