


body
{
	background-image: url(/static/img/fond.jpg);
    height : 100vh;	
    


}


header
{
	color: red;
	font-size: x-large;
	background-image: url(/static/img/robot.png);
	background-repeat: repeat;
	background-position: center;
	flex-grow: 0;
	

	
}
#conteneur
{
	display: flex;
	flex-direction: column;

}

.catchphrase
{
	color: red;
	text-align: center;
	font-size: 80px;
	font-style: oblique;

}	

section h1 
{
	color: grey;
	font-size: 40px;
	font-style: italic;
}

section
{
	color: grey;
	font-style: oblique;
	display: flex;
	flex-grow: 1;

}
form
{
	font-size:30px;

}
.map
{
	height :200px;
	width : 50%;
	border-radius: 10px;
}
footer
{
	color: red;
    text-align: center;
	font-size :10px;
	flex-grow: 0;
	margin-top: 600px;
}	
.pied
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
input
{
	background-color: aqua ;
}
.chat
{
	color: black;
	font-size: 15px;
	font-style: normal;
	background-color: white;
	width: 60% ;
	height: 20px;
}
.answer
{      color: black;
	font-size: 15px;
	font-style: normal;
	background-color: white;
	width: 60% ;
	height: auto;
 
}
@media screen and (max-width: 1024px)
{
	header
	{
		height: auto;
		width: auto;
	}
	section
	{
		height: auto;
		width: auto;

	}
	footer
	{
		height: auto;
		width: auto
	}
}

@media all and (max-device-width: 480px)
{
	header
	{
		height: ;
		width: auto;

	}
	section
	{
		height: auto;
		width: auto;

	}
	footer
	{
		height: auto;
		width: auto
	}
   
   }
}

